@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


:root{
  --Dark-Gray:#161616;
  --black:#000000;
  --white:#FFFFFF;
  --footer:#B7AAAA;
  --nowhite:#E6E6E6;
  --primary:#D8CACA;
  --container:1920px;
}
body{
  background: #000;
}
body section{
  color: var(--nowhite);
}



/* 레이아웃 */
.container{
  width: var(--container);
  margin:0 auto;
  background: #000 url(../images/pradabg.jpg) bottom 0 no-repeat;
  
}
.content{
  background: #000 ;
}
/*폰트*/
/*
font-family: "Sofia Sans", sans-serif;
font-family: "Noto Sans", sans-serif;
font-weight: 400;
font-family: "Noto Sans KR", sans-serif;
/*

/*링크 버튼*/


.top_nav{
  position: relative;
  border-bottom: #fff solid 2px; 
  width: 1920px;
  margin:0 auto;
  display: flex;
 justify-content: space-between;
 
}

.top_nav nav{
  width: 100%;
  /* height: 100px; */
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.top_nav .logo a{
  width: 270px;
  height:40px;  
  text-indent: -9999em; 
  display: flex;
  position: absolute;
  background: url(../images/LOGO.svg) no-repeat;
  
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 50%;
  left: 50%;  
  
}

.top_nav_menu{
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.top_nav .dropdown{
  color: var(--nowhite);
  /* overflow: hidden; */
  position: relative;

}

.top_nav .dropdown ul{
  position: absolute;
  right:0;
  top: 50%;
  padding: 5px;
  border:1px solid #fff;
  flex-direction: column;
  border-radius:5px;
  background: var(--white);
  display: none;
}

.main_menuleft{
  gap: 10px;
  color: var(--white);  
}

.main_menuright{
  gap: 10px;
  color: var(--white);  
}

section{
  position: relative;
}
.products_container{
  /* display: flex; */
  width: 100%;
}

.new_product h3{
  text-align: center;
}

.products_menu ul{
  
  width: 1592px;
  display: flex;  
  justify-content: space-between;
  text-align: center;    
  align-content: ;
  margin: 0 auto;
  gap: 100px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.measure{
  width: 1592px;
  display: flex;
  justify-content: space-between;
}
.measure_tap{
  display: flex;
  justify-content: space-between;
  gap: 61px;
}

footer{
  background: url(../images/pradabg.jpg) bottom no-repeat;
}