@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


:root{
  --Dark-Gray:#161616;
  --black:#000000;
  --white:#FFFFFF;
  --footer:#B7AAAA;
  --nowhite:#E6E6E6;
  --primary:#D8CACA;
  --container:1920px;
}

/* 레이아웃 */
.container{
  width: var(--container);
  margin:0 auto;
  background: #000;
}
.content{
  background: #000;
}
/*폰트*/
/*
font-family: "Sofia Sans", sans-serif;
font-family: "Noto Sans", sans-serif;
font-weight: 400;
font-family: "Noto Sans KR", sans-serif;
/*

/*링크 버튼*/




.top_nav{
  padding: 50px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction:row;
  position: relative;
}
.top_nav .logo {
  width: 420px;
  height: 62px;  
  text-indent: -9999em; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}
.main_menuleft{
  gap: 10px;
  margin-right: 537px;
  color: var(--white);
  
}
.main_menuright{
  gap: 10px;
  color: var(--white);  
}

.products_container{
  width: 309px;
  height: 450px;
  display: flex;
  flex-wrap:wrap
}
