@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


:root{
  --Dark-Gray:#161616;
  --black:#000000;
  --white:#FFFFFF;
  --footer:#B7AAAA;
  --nowhite:#E6E6E6;
  --primary:#D8CACA;
  --container:1920px;  
}
body{
  background: #000;
  height: 4109px;
}
body section{
  color: var(--nowhite);
}
/* 레이아웃 */
.container{
  width: var(--container);
  margin:0 auto;
  background: #000 url(../images/pradabg.jpg) bottom 0 no-repeat;
  height: 4109px;  
}
.content{
  background: #000 ;
}
/*폰트*/
/*
font-family: "Sofia Sans", sans-serif;
font-family: "Noto Sans", sans-serif;
font-weight: 400;
font-family: "Noto Sans KR", sans-serif;
/*
/*링크 버튼*/


header{
  padding:40px;
  position: relative;
  border-bottom: #fff solid 2px; 
  transition: transform 0.5s;
}


.page_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-down .page_header{
  transform: translateY(-100%);
}
.scroll-up .page_header{
  transform: translateY(0);
}


.content_container{
  width: 100%;
  height: 743px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.content_container .desc{  
  top: 0;
  width: 100%; 
  display: flex;
  text-align: center;
  flex-direction:row-reverse;
  justify-content: space-between;
  align-items: center; 
}
.content_container .desc .vshow{
  width: 100%;
  
  
}
.content_container .desc_sub{
  display: flex;
  flex-direction: column;
  width: 698px;
  margin-left: 237px;
  gap:50px;
}

.desc h2{
  font-family: "Noto Sans", sans-serif;
  color: var(--nowhite);
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;  
}
.desc h3{
  font-family: "Noto Sans", sans-serif;
  color: var(--nowhite);
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase; 
}
.desc p{
  font-family: "Noto Sans", sans-serif;
  color: var(--nowhite);
  font-weight: 400;
  font-size: 20px;  
  text-align: center; 
}
header .logo{
position: absolute;
top: 50%;
left: 50%;    
transform: translate(-50%,-50%);
}
header .logo a{
  display: block;
  width: 270px;
  height:40px;  
  text-indent: -9999em;
  background: url(../images/LOGO.svg) no-repeat;  
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .dropdown{
  color: var(--nowhite);
  /* overflow: hidden; */
  position: relative;
}
header .dropdown ul{
  position: absolute;
  right:0;
  top: 100%;
  padding: 5px;
  border:1px solid transparent;
  flex-direction: column;
  border-radius:5px;
  background: transparent;
  /* display: none; */
}

.top_nav_menu{
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;  
}
.main_menuleft li a{ 
  color: var(--nowhite);
  margin-left: 10px;
}
header .dropdown ul li{
  line-height: 20px;
  padding: 5px;
}
header .dropdown ul li:hover{
  color: var(--nowhite);
}
.main_menuleft{
  gap: 10px;
  color: var(--white);  
  display: flex;
}
.main_menuright{
  color: var(--white);  
  display: flex;
  /* justify-content: center; */
}
.main_menuright .mr{
  margin-right: 50px;
}
.main_menuright ul{
  display: flex;
}
.login_links{
  margin-right: 59px;
}
section{
  position: relative;
}
.products_container{
  /* display: flex; */
  width: 100%;
}
.new_product h3{
  text-align: center;
}
.products_menu h4{
  margin-top: 55px;
}
.products_menu ul{  
  width: 1592px;
  display: flex;  
  justify-content: space-between;
  text-align: center;      
  margin: 0 auto;
  gap: 100px;
  margin-bottom: 50px;
  flex-wrap: wrap;  
}
.products_menu ul li figure img{
  background: linear-gradient(red, yellow); /*이미지에 그라디언트 주는방법 */
}
.products_menu .newproduct{ /*텍스트에 그라디언트 주는방법 */
  text-align: center;
  margin: 80px 0;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;  
}
.products_menu .gift{ /*텍스트에 그라디언트 주는방법 */
  text-align: center;
  margin-bottom: 80px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
.measure{    
  width: 1600px;
}

.measure h3{ /*텍스트에 그라디언트 주는방법  */
  text-align: center;
  margin-bottom: 80px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  transform: translateX(50%);
  transform: translateY(50%);
}
.measure_tap{
  display: flex;
  justify-content: space-between;
  gap: 61px;
  margin-top:  50px;
  
}
.measure ul a{
  color: var(--Dark-Gray);
  font-size: 25px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  display: flex;
  
  justify-content: space-between;
  gap: 500px;
}
footer{
 color: ;
}
